body {
    background-color: grey;
    margin-top: 2em;
}
article {
    margin: 8px 0;
}
#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
}
#toolbar > div > * {
    display: inline-block;
    background-color: black;
    padding: 4px 8px;
    line-height: 1.2em;
}
#layouts > * {
    border-bottom-right-radius: 8px;
}
#status {
    justify-self: flex-end;
}
#status > * {
    border-bottom-left-radius: 8px;
}
#title {
    justify-self: center;
}
#title > * {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#rectangular-canvas canvas,
#rectangular-grid > div,
#rectangular svg {
    width: 100%;
    height: 19em;
}
rect {
    fill: none;
}
#rectangular-grid .heatmap > div {
    background-color: rgba(0,0,0, 0);
    /*transition: background-color 0.25s linear;*/
}

:root {
    --border-width: 1px;
    --tick-width: 1px;
    --border: var(--border-width) solid black;
    --tick: var(--tick-width) solid black;
}

.x-axis {
    border-top: var(--border);
    margin-top: calc(-1 * var(--border-width));
}
.x-axis:nth-of-type(even) {
    border-left: var(--tick);
    margin-left: calc(-0.5 * var(--tick-width));
}
.x-axis.first {
    border-left: none;
}

.y-axis {
    border-right: var(--border);
    margin-right: calc(-1 * var(--border-width));
}
.y-axis:nth-of-type(even) {
    border-top: var(--tick);
    margin-top: calc(-0.5 * var(--tick-width));
}

.x-label {
    grid-row: x-label;
    grid-column-end: span 4;
    text-align: center;
    font-family: sans-serif;
    line-height: 1.2em;
}
.x-label.first {
    grid-column-end: span 1;
}
.x-axis:nth-of-type(even) {
    height: 4px;
}
.x-axis:nth-of-type(4n+2) {
    height: 7px;
}

.y-label {
    grid-column: y-label;
    grid-row-end: span 2;
    /* transform: rotate(30deg); */
    transform-origin: center right;
    text-align:right;
    /* text-transform: uppercase; */
    font-family: sans-serif;
    line-height: 1.2em;
    /* display: none; */
    align-self: center;
    padding-right: 4px;
    grid-row-start: initial;
}

.heatmap {
    border: var(--border);
    background-color: rgba(0,0,0,0.8);
    grid-gap: 1px;
}
